<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="../public/img/favicon.bmp" type="image/x-icon" />
	<link rel="stylesheet" href="/css/bootstrap.css">   
	<link rel="stylesheet" href="/css/styles.css">
	<script src="js/load-image.all.min.js"></script>
	<title>Lancelart</title>
</head>
<body style="background-color: #fcfc9f">
	<header>
		<nav class="navbar navbar-default">
			<div class="container-fluid" style="border-bottom: 2px solid #57d686; background-color: ">
			<label class="lancelogo"><a href="/" class="navbar-brand">Lancelart</a></label>
			<label class="menitem"><a href="/" charset="" lass="nav">Pagina Inicial</a></label>
			<label class="menitem"><a href="/about">Sobre</a></label>
			<label class="menitem"><a href="/cadastro">Cadastro</a></label>
			<label class="menitem"><a href="/login">Conta</a></label>
			<label class="menitem"><a href="/pedidos">Pedidos</a></label>
			</div>
		</nav>
	</header>

	<%- defineContent('hero') %>


	<main>
		<div class="container">
			<%- body %>
		</div>
	</main>

	<footer>
		Site criado para TCC de Análise e desenvolvimento de sistemas. 2018 Fatec Americana.
	</footer>

</body>
</html>