body {
  font-size: 16px;
  line-height: 1.5;
}

header .navbar {
  border-radius: 0;
  margin: 0;
}

.hero {
  background-image: url(../img/lapis.png);
  background-repeat: no-repeat;;
  background-size: contain;
  background-position: center center;
  padding: 50px 0;
  min-height: 650px;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  text-align: center;
  width: 100%;
}

.hero-content h2 {
  color: black;
  font-size: 80px;
}

.hero-content p {
  color: #000;
  font-size: 40px;
  margin-bottom: 30px;
}

.hero-content .btn {
  border-radius: 2px;
  padding: 20px 30px;
  color:#000;
}  

main {
  min-height: 500px;
  padding: 50px 0;
}

footer {
  padding: 30px 0;
  font-size: 14px;
  color: #BBB;
  background: #222;
  text-align: center;
}

.delb{
  height: 20px;
  width:20px;
  background-image: url(../img/lixeira.gif);
}

.delbt{
  width:100%;
}

.pedtxt {
  width: inherit;
  border:5px solid yellow;
  background-color: white;
  padding: 2px;
}

.trabspace {
  display:inline-grid;
  padding-bottom: 10px;
  width: 100%;
}

.menitem{
  border-left: 2px solid #57d686;
  color: #000 ;
  font-size: 22px
}

.lancelogo{
  font-size:25px;
}

a {
  color:black;
}

.jumbotron{
  background-color:#abe29e;
}

.sitebtn{
  display: inherit; 
  border:2px solid green; 
  background-color: #eaea98;
}

.pedbox{
}

label {
  font-size: 17px;
  font-family: verdana;
}

textarea{
  resize: none;
}