<%- contentFor('hero') %>

	<section class="hero">
		<div class="hero-content">
			<h2>Bem vindo a vitrine de arte nacional!</h2>
			<p>Crie sua conta!</p>
			<a href="/cadastro" class="btn btn-lg btn-primary">Comece Aqui!</a>
		</div>
	</section>

	<%- contentFor('body') %>

	<div class="jumbotron text-center" style="display: inline-block;width:100%;">
		<%-bigTxt%>
	</div>
	